/* write your override styles here */

#wall .tag-1 {
  display: none;
}
#wall #tag-2 {
  z-index: 0;
  display: none;
}
#wall .slick-wicked #tag-3 {
  z-index: 0;
  display: none;
}
#wall #tag-4 {
  display: none;
}
div#wall .parent #tag-5.slick {
  z-index: 0;
  display: none;
}
div#wall div.parent div:last-child div#tag-6 {
  z-index: 0;
  display: none;
}
body div#wall div.parent div > #tag-7.slick {
  z-index: 0;
  display: none;
}

  <div id="wall">
    <div class="tag-1"></div>
    <div id="tag-2"></div>
    <div id="tag-3" class="slick wicked"></div>
    <div class="parent">
      <div id="tag-4"></div>
    </div>
    <div class="parent">
      <div id="tag-5" class="slick"></div>
    </div>
    <div class="parent">
      <div></div>
      <div>
        <div id="tag-6"></div>
      </div>
    </div>
    <div class="parent">
      <div>
        <div id="tag-7" class="slick"></div>
        